# Dependencies
node_modules/

# Generated Android project
android/
ios/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android
*.apk
*.aab
*.dex
*.class
bin/
gen/
out/

# Gradle
.gradle/
build/

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
